.feedback {
    width: 100%;
    height: 1200px;
    background-image: url('../img/desctop/team-dekstop.webp');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 150px 0 ;
    &__title {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 30px;
    }
    &__subtitle {
        @include fontsBold;
        font-size: 33px;
        color: $mainColor;
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__form {
        display: block;
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
        &-label {
            width: 100%;
            height: 60px;
            margin-bottom: 30px;
        }
        &-input {
            display: block;
            width: 100%;
            max-width: 600px;
            height: 60px;
            border-radius: 20px;
            padding: 10px;      
             @include fontsBold;
            font-size: 30px;
            color: $mainColor;     
        }
        &-msg {
            display: block;
            width: 100%;
            max-width: 600px;
            height: 160px;
            border-radius: 20px;
            padding: 10px; 
            margin-bottom: 50px;
            @include fontsBold;
            font-size: 30px;
            color: $mainColor;
        }
        &-btn {
            margin-bottom: 30px;
        }
        &-warning {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            &--text {
                @include fontsRegular;
                font-size: 14px;
                color: $whiteColor;
                & > a {
                    @include fontsRegular;
                    font-size: 14px;
                    color: $mainColor;
                }
            }
        }
    }
}