.hamburger {
    width: 50px;
    height: 50px;
    position: relative;
    cursor: pointer;
    display: none;
    & > span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 5px;
        border-radius: 10px;
        background-color: $mainColor;
        border: .5px solid $whiteColor;
        z-index: 10;
        &:first-child {
            top: 30%;
            transition: all .4s ease;
        }
        &:last-child {
            top: 70%;
            transition: all .4s ease;
        }
    }
}