.main {
    padding: 250px 0 100px 0;
    &__content {
        position: relative;
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }
    &__images {
        position: relative;
        width: 500px;
        height: 410px;
        &-img {
            width: 90px;
            height: 90px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-logo {
            width: 400px;
            height: 400px;
            margin: 0 auto;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
    &__information {
        width: 100%;
        max-width: 600px;
        &-title {
            @include fontsBold;
            font-size: 50px;
            color: $blackColor;
            margin-bottom: 30px;
            & > b {
                @include fontsBold;
                font-size: 50px;
                color: $mainColor;
            }
        }
        &-btn {
            margin-bottom: 30px;
        }
        &-box {
            width: 100%;
            max-width: 200px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &-else {
            @include fontsBold;
            font-size: 30px;
            color: $mainColor;
        }
        &__social {
            &--link {
                display: block;
                width: 30px;
                height: 30px;
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
}
// .main__images {
//     position: relative;
//     width: 600px;
//     height: 600px;
//     // margin: 0 auto;
// }

/* КРУГОВАЯ ОРБИТА */
.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    animation: rotateOrbit 10s linear infinite;
}

/* Солнце и Луна располагаются по кругу */
.sun, .moon {
    position: absolute;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Солнце сверху */
.sun {
    transform: translate(-50%, -50%) translateY(-175px);
    opacity: 1;
}

/* Луна снизу */
.moon {
    transform: translate(-50%, -50%) translateY(175px);
    opacity: 0; /* скрыта на старте */
}

/* Вращение контейнера */
@keyframes rotateOrbit {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* ПОЯВЛЕНИЕ / ИСЧЕЗНОВЕНИЕ в нужных зонах */

// .orbit {
//     /* чтобы можно было применять фильтры к детям */
// }

.orbit .sun {
    animation: sunVisibility 10s linear infinite;
}

.orbit .moon {
    animation: moonVisibility 10s linear infinite;
}

@keyframes sunVisibility {
    0%, 25%   { opacity: 1; }
    50%, 100% { opacity: 0; }
}

@keyframes moonVisibility {
    0%, 50%   { opacity: 0; }
    75%, 100% { opacity: 1; }
}