.popup {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 60%);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    // visibility: hidden;
    transition: all .4s ease;
    &__dialog {
        width: 100%;
        max-width: 500px;
        height: auto;
        padding: 30px;
        background-color: $mainColor;
        border-radius: 30px;
        margin: 100px auto;
        // transform: scale(0);
        transition: all .5s ease;
    }
    &__content {
        position: relative;
        &-form {
            display: block;
            width: 100%;
            &--label {
                width: 100%;
                margin-bottom: 30px;
            }
            &--input {
                display: block;
                width: 100%;
                height: 50px;
                border-radius: 20px;
                padding: 10px 15px;
                @include fontsBold;
                font-size: 30px;
            }
            &--msg {
                display: block;
                width: 100%;
                height: 150px;
                border-radius: 20px;
                padding: 10px 15px;
                @include fontsBold;
                font-size: 30px;
                margin-bottom: 30px;
            }
            &--btn {
                width: 100%;
                border: 2px solid $whiteColor;
                color: $whiteColor;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 50px;
                border-radius: 20px;
                @include fontsBold;
                cursor: pointer;
                margin-bottom: 30px;
            }
            &--warning {
                display: flex;
                align-items: start;
                justify-content: start;
                gap: 5px;
                & > input {
                    display: block;
                    margin-top: 5px;
                }
            }
            &--text {
                @include fontsRegular;
                color: $whiteColor;
                font-size: 16px;               
                & > a {
                    @include fontsRegular;
                    color: $whiteColor;
                    font-size: 16px;
                    text-decoration: underline;
                }
            }
        }
    }
    &__header {
        display: flex;
        align-items: start;
        justify-content: space-between;
        &-title {
            @include fontsBold;
            font-size: 26px;
            color: $whiteColor;
            line-height: 1.1;
            margin-bottom: 40px;
            max-width: 80%;
        }
        &-close {
            width: 50px;
            height: 50px;
            position: absolute;
            top: -35px;
            right: -20px;
            cursor: pointer;
            &::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                height: 4px;
                background-color: $whiteColor;
                border-radius: 10px;
                transform: translate(-50%, -50%) rotate(45deg);
            }
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 80%;
                height: 4px;
                background-color: $whiteColor;
                border-radius: 10px;
                transform: translate(-50%, -50%) rotate(-45deg);
            }
        }
    }
}