.reviews {
    padding: 100px 0;
    &__box {
        position: relative;
    }
    &__button {            
        &-prev {
            position: absolute;
            top: 50px;
            right: 120px;
            width: 40px;
            height: 40px;
            cursor: pointer;   
        }
        &-next {
            position: absolute;
            top: 50px;
            right: 60px;
            width: 40px;
            height: 40px;
            cursor: pointer;   
        }
    }
    &__title {
        text-align: center;
        max-width: 800px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__item {
        padding: 30px;
        border: 1px solid $grayColor;
        border-radius: 20px;
        &-header {
            display: flex;
            align-items: center;
            justify-content: start;
            gap: 10px;
            margin-bottom: 30px;
            &--photo {
                width: 100px;
                height: 100px;
                border: 2px solid $mainColor;
                border-radius: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
            &--name {
                @include fontsBold;
                font-size: 33px;
                color: $mainColor;
            }
        }
        &-feedback {
            @include fontsRegular;
            font-size: 23px;
            color: $blackColor;
        }
    }
}