.services {
    padding: 100px 0;
    &__container {
        width: 100%;
        // max-width: 1400px;
        padding: 0 50px;
        margin: 0 auto;
    }
    &__title {
        max-width: 700px;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
        gap: 20px;
        &-item {
            padding: 30px;
            border: 1px solid $grayColor;
            border-radius: 20px;
            &--icon {
                width: 60px;
                height: 60px;
                margin-bottom: 40px;
                & > img {
                    width: 100%;
                    height: 100%;
                }
            }
            &--title {
                @include fontsBold;
                font-size: 30px;
                color: $mainColor;
                margin-bottom: 30px;
            }
            &--description {
                @include fontsRegular;
                font-size: 23px;
                color: $grayColor;
                & > a {
                    color: $mainColor;
                }
            }
        }
    }
}