.teams {
    &__title {
        text-align: center;
        margin-bottom: 30px;
    }
    &__subtitle {
        text-align: center;
        width: 60%;
        margin: 0 auto;
        @include fontsBold;
        color: $mainColor;
        margin-bottom: 80px;
        font-size: 22px;
    }
    &__wrapper {
        display: flex;
        align-items: start;
        justify-content: space-between;
        margin-bottom: 150px;
    }
    &__box {
        width: 45%;
    }
    &__left {      
        &-title {
            @include fontsBold;
            font-size: 33px;
            margin-bottom: 40px;
        }
        &-subtitle {
            @include fontsBold;
            font-size: 22px;
            margin-bottom: 40px;
        }
        &-descr {
            @include fontsRegular;
            font-size: 22px;
            color: $grayColor;
            margin-bottom: 40px;
        }
        &-list {
            list-style: disc;
            &--title {
                @include fontsBold;
                font-size: 22px;
                color: $blackColor;
                margin-bottom: 30px;
            }
            &--item {
                @include fontsRegular;
                font-size: 22px;
                color: $grayColor;
                margin-left: 30px;
            }
        }
    }
    &__img {
        width: 450px;
        height: auto;
        & > picture {
            & > img {
                width: 100%;
                height: 100%;
                border-radius: 20px;
            }
            
        }
    }
    &__line {
        display: flex;
        align-items: start;
        justify-content: space-between;
        &-item {
            width: 30%;
            &--img {
                width: 220px;
                height: 220px;
                border-radius: 100%;
                margin-bottom: 20px;
                & > img {
                    width: 100%;
                    height: 100%;
                    border-radius: 100%;
                }
            }
            &--name {
                @include fontsBold;
                font-size: 22px;
                color: $blackColor;
                margin-bottom: 15px;
            }
        }
    }
}