@charset "UTF-8";
@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserat");
  src: url("../fonts/montserat/Montserrat-Bold.eot") format("embedded-opentype"), url("../fonts/montserat/Montserrat-Bold.woff") format("woff"), url("../fonts/montserat/Montserrat-Bold.ttf") format("truetype");
  font-style: "regular";
  font-weight: 700;
}
@font-face {
  font-family: "cuprum";
  src: url("../fonts/cuprum");
  src: url("../fonts/cuprum/Cuprum-Regular.eot") format("embedded-opentype"), url("../fonts/cuprum/Cuprum-Italic.woff") format("woff"), url("../fonts/cuprum/Cuprum-Regular.ttf") format("truetype");
  font-style: "regular";
  font-weight: 400;
}
html, body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  color: #000;
  font-size: 22px;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
button:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

label {
  display: block;
}

input {
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  margin: 0;
  padding: 0;
}
input:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

textarea {
  display: block;
  border: none;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  resize: none;
}
textarea:focus {
  outline: 1px solid rgba(0, 0, 0, 0);
}

a {
  text-decoration: none;
}

img {
  -o-object-fit: cover;
     object-fit: cover;
}

.header {
  padding: 10px 0;
  border-bottom: 2px dashed #365EAB;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(54, 94, 171, 0.3764705882);
  z-index: 10;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.header__nav-list > li > a {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
}
.header__lung {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  gap: 50px;
}
.header__phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
}
.header__phones-phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
}
.header__phones-phone > img {
  width: 23px;
  height: 23px;
}

.hamburger {
  width: 50px;
  height: 50px;
  position: relative;
  cursor: pointer;
  display: none;
}
.hamburger > span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 80%;
  height: 5px;
  border-radius: 10px;
  background-color: #365EAB;
  border: 0.5px solid #fff;
  z-index: 10;
}
.hamburger > span:first-child {
  top: 30%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.hamburger > span:last-child {
  top: 70%;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.mobile__menu {
  position: absolute;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  padding: 100px 0 0 30px;
  background-color: #365EAB;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.mobile__menu-list {
  margin-bottom: 30px;
}
.mobile__menu-list > li > a {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #fff;
}
.mobile__menu-lung {
  display: block;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #fff;
  margin-bottom: 30px;
}
.mobile__menu-phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mobile__menu-phones--phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #fff;
}

.popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.popup__dialog {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: 30px;
  background-color: #365EAB;
  border-radius: 30px;
  margin: 100px auto;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.popup__content {
  position: relative;
}
.popup__content-form {
  display: block;
  width: 100%;
}
.popup__content-form--label {
  width: 100%;
  margin-bottom: 30px;
}
.popup__content-form--input {
  display: block;
  width: 100%;
  height: 50px;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
}
.popup__content-form--msg {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 20px;
  padding: 10px 15px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  margin-bottom: 30px;
}
.popup__content-form--btn {
  width: 100%;
  border: 2px solid #fff;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  border-radius: 20px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  cursor: pointer;
  margin-bottom: 30px;
}
.popup__content-form--warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
}
.popup__content-form--warning > input {
  display: block;
  margin-top: 5px;
}
.popup__content-form--text {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  font-size: 16px;
}
.popup__content-form--text > a {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}
.popup__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.popup__header-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 26px;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 40px;
  max-width: 80%;
}
.popup__header-close {
  width: 50px;
  height: 50px;
  position: absolute;
  top: -35px;
  right: -20px;
  cursor: pointer;
}
.popup__header-close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.popup__header-close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  height: 4px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.main {
  padding: 250px 0 100px 0;
}
.main__content {
  position: relative;
}
.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__images {
  position: relative;
  width: 400px;
}
.main__images-img {
  width: 90px;
  height: 90px;
}
.main__images-img img {
  width: 100%;
  height: 100%;
}
.main__images-logo {
  width: 350px;
  height: 350px;
}
.main__images-logo img {
  width: 100%;
  height: 100%;
}
.main__information {
  width: 100%;
  max-width: 600px;
}
.main__information-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 50px;
  color: #000;
  margin-bottom: 30px;
}
.main__information-title > b {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 50px;
  color: #365EAB;
}
.main__information-btn {
  margin-bottom: 30px;
}
.main__information-box {
  width: 100%;
  max-width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.main__information-else {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
}
.main__information__social--link {
  display: block;
  width: 30px;
  height: 30px;
}
.main__information__social--link > img {
  width: 100%;
  height: 100%;
}

.main__images {
  position: relative;
  width: 300px;
  height: 300px;
}

/* КРУГОВАЯ ОРБИТА */
.orbit {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300px;
  height: 300px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: rotateOrbit 10s linear infinite;
          animation: rotateOrbit 10s linear infinite;
}

/* Солнце и Луна располагаются по кругу */
.sun, .moon {
  position: absolute;
  width: 90px;
  height: 90px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* Солнце сверху */
.sun {
  -webkit-transform: translate(-50%, -50%) translateY(-175px);
          transform: translate(-50%, -50%) translateY(-175px);
  opacity: 1;
}

/* Луна снизу */
.moon {
  -webkit-transform: translate(-50%, -50%) translateY(175px);
          transform: translate(-50%, -50%) translateY(175px);
  opacity: 0; /* скрыта на старте */
}

/* Вращение контейнера */
@-webkit-keyframes rotateOrbit {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotateOrbit {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg);
            transform: translate(-50%, -50%) rotate(0deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(360deg);
            transform: translate(-50%, -50%) rotate(360deg);
  }
}
/* ПОЯВЛЕНИЕ / ИСЧЕЗНОВЕНИЕ в нужных зонах */
.orbit .sun {
  -webkit-animation: sunVisibility 10s linear infinite;
          animation: sunVisibility 10s linear infinite;
}

.orbit .moon {
  -webkit-animation: moonVisibility 10s linear infinite;
          animation: moonVisibility 10s linear infinite;
}

@-webkit-keyframes sunVisibility {
  0%, 25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}

@keyframes sunVisibility {
  0%, 25% {
    opacity: 1;
  }
  50%, 100% {
    opacity: 0;
  }
}
@-webkit-keyframes moonVisibility {
  0%, 50% {
    opacity: 0;
  }
  75%, 100% {
    opacity: 1;
  }
}
@keyframes moonVisibility {
  0%, 50% {
    opacity: 0;
  }
  75%, 100% {
    opacity: 1;
  }
}
.services {
  padding: 100px 0;
}
.services__container {
  width: 100%;
  padding: 0 50px;
  margin: 0 auto;
}
.services__title {
  max-width: 700px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
.services__grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  gap: 20px;
}
.services__grid-item {
  padding: 30px;
  border: 1px solid #a7a7a7;
  border-radius: 20px;
}
.services__grid-item--icon {
  width: 60px;
  height: 60px;
  margin-bottom: 40px;
}
.services__grid-item--icon > img {
  width: 100%;
  height: 100%;
}
.services__grid-item--title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
  margin-bottom: 30px;
}
.services__grid-item--description {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 23px;
  color: #a7a7a7;
}
.services__grid-item--description > a {
  color: #365EAB;
}

.teams__title {
  text-align: center;
  margin-bottom: 30px;
}
.teams__subtitle {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  color: #365EAB;
  margin-bottom: 80px;
  font-size: 22px;
}
.teams__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 150px;
}
.teams__box {
  width: 45%;
}
.teams__left-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 33px;
  margin-bottom: 40px;
}
.teams__left-subtitle {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  margin-bottom: 40px;
}
.teams__left-descr {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  color: #a7a7a7;
  margin-bottom: 40px;
}
.teams__left-list {
  list-style: disc;
}
.teams__left-list--title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  color: #000;
  margin-bottom: 30px;
}
.teams__left-list--item {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  color: #a7a7a7;
  margin-left: 30px;
}
.teams__img {
  width: 450px;
  height: auto;
}
.teams__img > picture > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.teams__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.teams__line-item {
  width: 30%;
}
.teams__line-item--img {
  width: 220px;
  height: 220px;
  border-radius: 100%;
  margin-bottom: 20px;
}
.teams__line-item--img > img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.teams__line-item--name {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  color: #000;
  margin-bottom: 15px;
}

.umzug {
  padding: 100px 0;
}
.umzug__title {
  text-align: center;
  margin-bottom: 80px;
}
.umzug__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 80px;
}
.umzug__left {
  width: 60%;
}
.umzug__left-title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 33px;
  margin-bottom: 30px;
  color: #365EAB;
}
.umzug__left-description {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 24px;
  color: #000;
  margin-bottom: 30px;
}
.umzug__left-feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 20px;
}
.umzug__left-feedback--else {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 33px;
  color: #365EAB;
}
.umzug__left-feedback--social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: 10px;
      -ms-flex-pack: 10px;
          justify-content: 10px;
}
.umzug__left-feedback--link {
  display: block;
  width: 30px;
  height: 30px;
}
.umzug__left-feedback--link > img {
  width: 100%;
  height: 100%;
}
.umzug__right {
  width: 30%;
}
.umzug__right-img {
  width: 100%;
  height: 500px;
}
.umzug__right-img > picture {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 20px;
}
.umzug__right-img > picture > img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.about {
  padding: 100px 0;
}
.about__title {
  text-align: center;
  margin-bottom: 80px;
}
.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about__wrapper-item {
  border: 1px solid #a7a7a7;
  padding: 30px;
  width: 100%;
  max-width: 400px;
  min-height: 300px;
  border-radius: 30px;
  -webkit-box-shadow: 5px 5px 10px #365EAB;
          box-shadow: 5px 5px 10px #365EAB;
}
.about__wrapper-item--number {
  width: 40px;
  height: 40px;
  padding: 10px;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #365EAB;
  margin-bottom: 30px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 20px;
  color: #365EAB;
}

.reviews {
  padding: 100px 0;
}
.reviews__box {
  position: relative;
}
.reviews__button-prev {
  position: absolute;
  top: 50px;
  right: 120px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.reviews__button-next {
  position: absolute;
  top: 50px;
  right: 60px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.reviews__title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.reviews__item {
  padding: 30px;
  border: 1px solid #a7a7a7;
  border-radius: 20px;
}
.reviews__item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
  margin-bottom: 30px;
}
.reviews__item-header--photo {
  width: 100px;
  height: 100px;
  border: 2px solid #365EAB;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__item-header--photo > img {
  width: 100%;
  height: 100%;
}
.reviews__item-header--name {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 33px;
  color: #365EAB;
}
.reviews__item-feedback {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 23px;
  color: #000;
}

.feedback {
  width: 100%;
  height: 1200px;
  background-image: url("../img/desctop/team-dekstop.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 150px 0;
}
.feedback__title {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 30px;
}
.feedback__subtitle {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 33px;
  color: #365EAB;
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 80px;
}
.feedback__form {
  display: block;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}
.feedback__form-label {
  width: 100%;
  height: 60px;
  margin-bottom: 30px;
}
.feedback__form-input {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 60px;
  border-radius: 20px;
  padding: 10px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
}
.feedback__form-msg {
  display: block;
  width: 100%;
  max-width: 600px;
  height: 160px;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 30px;
  color: #365EAB;
}
.feedback__form-btn {
  margin-bottom: 30px;
}
.feedback__form-warning {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 10px;
}
.feedback__form-warning--text {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 14px;
  color: #fff;
}
.feedback__form-warning--text > a {
  font-family: "cuprum", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 14px;
  color: #365EAB;
}

.footer {
  padding: 150px 0;
  background-color: #365EAB;
}
.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer__wrapper-policy {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  color: #fff;
}
.footer__wrapper-warning {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 22px;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1450px;
  margin: 0 auto;
  padding: 0 15px;
}

.body__container {
  position: relative;
  overflow: hidden;
}

.btn {
  width: 100%;
  max-width: 250px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid #365EAB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  line-height: 1.1;
  font-size: 23px;
  color: #365EAB;
  cursor: pointer;
}
.btn:hover {
  -webkit-box-shadow: 2px 2px 10px #365EAB;
          box-shadow: 2px 2px 10px #365EAB;
}

.menu__active .mobile__menu {
  right: 0;
}
.menu__active .hamburger > span {
  background-color: #fff;
}
.menu__active .hamburger > span:first-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
}
.menu__active .hamburger > span:nth-child(2) {
  opacity: 0;
}
.menu__active .hamburger > span:last-child {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg);
}

.title {
  font-family: "Montserrat-Bold", Arial, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: normal;
  font-size: 50px;
  color: #365EAB;
}

.open-modal {
  visibility: visible;
}
.open-modal .popup__dialog {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.close-modal {
  visibility: hidden;
  opacity: 0;
}
.close-modal .popup__dialog {
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 1280px) {
  .header__nav-list {
    gap: 10px;
  }
  .header__nav-list > li > a {
    font-size: 24px;
  }
  .header__lung {
    font-size: 24px;
  }
  .header__phones-phone {
    font-size: 24px;
  }
  .services__grid {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
  .umzug__left {
    width: 50%;
  }
  .umzug__right {
    width: 48%;
  }
  .about__wrapper-item {
    width: 320px;
  }
}
@media (max-width: 993px) {
  .header__nav {
    display: none;
  }
  .header__nav-list {
    display: none;
  }
  .header__lung {
    display: none;
  }
  .header__phones {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .main__images {
    margin-bottom: 100px;
  }
  .services__grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .services__grid-item {
    padding: 15px;
  }
  .services__grid-item--icon {
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
  }
  .services__grid-item--title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .services__grid-item--description {
    font-size: 16px;
  }
  .services__grid-item--description > a {
    font-size: 16px;
  }
  .teams__title {
    margin-bottom: 15px;
  }
  .teams__subtitle {
    width: 80%;
    font-size: 20px;
  }
  .teams__box {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .teams__left-title {
    font-size: 22px;
    margin-bottom: 15px;
  }
  .teams__left-subtitle {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .teams__left-descr {
    font-size: 16px;
  }
  .teams__left-list--title {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .teams__left-list--item {
    font-size: 16px;
  }
  .teams__img {
    width: 40%;
    height: auto;
  }
  .teams__line-item--img {
    width: 120px;
    height: 120px;
  }
  .teams__line-item--name {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .teams__line-item--post {
    font-size: 16px;
  }
  .umzug__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .umzug__left {
    width: 100%;
    margin-bottom: 40px;
  }
  .umzug__right {
    width: 100%;
    margin-bottom: 40px;
  }
  .about {
    padding: 0 0 100px 0;
  }
  .about__wrapper-item {
    padding: 15px;
    width: 280px;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 33px;
  }
  .main__information {
    max-width: 100%;
  }
  .about__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__wrapper-item {
    width: 100%;
    max-width: 100%;
    margin-bottom: 30px;
  }
  .footer__wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__wrapper-policy {
    font-size: 16px;
  }
  .footer__wrapper-warning {
    font-size: 16px;
  }
}
@media (max-width: 556px) {
  .main__images-logo {
    width: 300px;
    height: 300px;
  }
  .main__information-title {
    text-align: center;
  }
  .main__information-btn {
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .main__information-box {
    margin: 0 auto;
  }
  .orbit {
    width: 300px;
    height: 300px;
  }
  .services {
    padding: 50px 0;
  }
  .services__container {
    padding: 0 20px;
  }
  .services__title {
    margin-bottom: 20px;
  }
  .teams__subtitle {
    font-size: 14px;
  }
  .teams__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 50px;
  }
  .teams__box {
    width: 100%;
  }
  .teams__img {
    width: 100%;
    height: auto;
  }
  .teams__line {
    display: none;
  }
  .umzug {
    padding: 50px 0;
  }
  .umzug__title {
    margin-bottom: 20px;
  }
  .umzug__left-title {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .reviews {
    padding: 50px 0;
  }
  .reviews__button-prev {
    top: 75px;
  }
  .reviews__button-next {
    top: 75px;
  }
  .feedback {
    height: 800px;
    padding: 50px 0;
  }
  .feedback__title {
    margin-bottom: 15px;
  }
  .feedback__subtitle {
    margin-bottom: 15px;
    line-height: 1.2;
  }
  .feedback__form-input {
    height: 50px;
    font-size: 18px;
  }
  .feedback__form-msg {
    font-size: 18px;
    height: 90px;
  }
  .footer {
    padding: 50px 0;
  }
  .btn {
    font-size: 16px;
  }
  .title {
    font-size: 28px;
  }
}/*# sourceMappingURL=style.css.map */