@media (max-width: 1280px) {
    .header {
            &__nav {
                &-list {
                    gap: 10px;
                    & > li {
                        & > a {
                            font-size: 24px;
                        }
                    }
                }
            }
            &__lung {
                font-size: 24px;
            }
            &__phones {
                &-phone {
                    font-size: 24px;
                }
            }
    }
    .services {
        &__grid {
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
        }
    }
    .umzug {
        &__left {
            width: 50%;
        }
        &__right {
            width: 48%;
        }
    }
    .about {
        &__wrapper {
            &-item {
                width: 320px;
            }
        }
    }
}
@media(max-width: 993px) {
    .header {
        &__nav {
            display: none;
            &-list {
                display: none;
            }
        }
        &__lung {
            display: none;
        }
        &__phones {
            display: none;
        }
    }
    .hamburger {
        display: block;
    }
    .main {
        &__wrapper {
            flex-direction: column;
        }
        &__images {
            margin-bottom: 100px;
        }
    }
    .services {
        &__grid {
          grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
          &-item {
            padding: 15px;
            &--icon {
                width: 30px;
                height: 30px;
                margin-bottom: 15px;
            }
            &--title {
                font-size: 22px;
                margin-bottom: 15px;
            }
            &--description {
                font-size: 16px;
                & > a {
                    font-size: 16px;
                }
            }
          }
        }
    }
    .teams {
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            width: 80%; 
            font-size: 20px;
        }
        &__box {
            order: 2;
        }
        &__left {
            &-title {
                font-size: 22px;
                margin-bottom: 15px;
            }
            &-subtitle {
                font-size: 16px;
                margin-bottom: 15px;
            }
            &-descr {
                font-size: 16px;
            }
            &-list {
                &--title {
                    font-size: 16px;
                    margin-bottom: 15px;
                }
                &--item {
                    font-size: 16px;
                }
            }
        }
        &__img {
            width: 40%;
            height: auto;
        }
        &__line {
            &-item {
                &--img {
                    width: 120px;
                    height: 120px;
                }
                &--name {
                    font-size: 16px;
                    margin-bottom: 10px;
                }
                &--post {
                    font-size: 16px;
                }
            }
        }
    }
    .umzug {
        &__wrapper {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__left {
            width: 100%;
            margin-bottom: 40px;
        }
        &__right {
            width: 100%;
            margin-bottom: 40px;
        }
    }
    .about {
        padding: 0 0 100px 0;
        &__wrapper {
            &-item {
                padding: 15px;
                width: 280px;
            }
        }
    }
}
@media (max-width:768px) {
    .title {
        font-size: 33px;
    }
    .main {
        &__information {
            max-width: 100%;
        }
    }
    .about {
        &__wrapper {
            flex-direction: column;
            &-item {
                width: 100%;
                max-width: 100%;
                margin-bottom: 30px;
            }
        }
    }
    .footer {
        &__wrapper {
            flex-wrap: wrap;
            &-policy {
                font-size: 16px;
            }
            &-warning {
                font-size: 16px;
            }
        }
    }
}
@media (max-width:556px) {
    .main {
        &__images {
            &-logo {
                width: 300px;
                height: 300px;
            }
        }
        &__information {
            &-title {
                text-align: center;
            }
            &-btn {
                margin: 0 auto;
                margin-bottom: 20px;
            }
            &-box {
                margin: 0 auto;
            }
        }
    }
    .orbit {
        width: 300px;
        height: 300px;
    }
    .services {
        &__container {
            padding: 0 20px;
        }
        padding: 50px 0;
        &__title {
            margin-bottom: 20px;
        }
    }
    .teams {
        &__subtitle {
            font-size: 14px;
        }
        &__wrapper {
            flex-direction: column;
            margin-bottom: 50px;
        }
        &__box {
            width: 100%;
        }
        &__img {
            width: 100%;
            height: auto;
        }
        &__line {
            display: none;
        }
    }
    .umzug {
        padding: 50px 0;
        &__title {
            margin-bottom: 20px;
        }
        &__left {
            &-title {
                font-size: 22px;
                margin-bottom: 10px;
            }
        }
    }
    .reviews {
        padding: 50px 0;
        &__button {
            &-prev {
                top: 75px;
            }
            &-next {
                top: 75px;
            }
        }
    }
    .feedback {
        height: 800px;
        padding: 50px 0;
        &__title {
            margin-bottom: 15px;
        }
        &__subtitle {
            margin-bottom: 15px;
            line-height: 1.2;
        }
        &__form {
            &-input {
                height: 50px;
                font-size: 18px;
            }
            &-msg {
                font-size: 18px;
                height: 90px;
            }
        }
    }
    .footer {
        padding: 50px 0;
    }
    .btn {
        font-size: 16px;
    }
    .title {
        font-size: 28px;
    }
}
