@import 'fonts';
@import 'var';
@import 'mixins';
@import 'normalize';


@import '../block/header';
@import '../block/hamburger';
@import '../block/mobile-menu';
@import '../block/popup';
@import '../block/main';
@import '../block/service';
@import '../block/teams';
@import '../block/umzug';
@import '../block/about';
@import '../block/reviews';
@import '../block/feedback';
@import '../block/footer';

@import 'global';
@import 'media';
